<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CompanyStocksFilter</filter-name>
        <filter-class>com.bizblock.CompanyStocksFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CompanyStocksFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.bizblock.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UIServlet</servlet-name>
        <servlet-class>com.bizblock.UIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login Page</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register Page</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UIServlet</servlet-name>
        <url-pattern>/ui</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login Page</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register Page</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
